
.organizationInfoSection, .locationInfoSection {
  margin:10px 10px;
}

.organizationInfoLabel, .locationInfoLabel {
  font-weight: bold;
  display: inline-block;
}
.actionSection {
  font-size: 1rem;
  background-color: #F9F9F9;
}

.filterGridContainer {
  padding: 5px 20px;
  margin: 2px 0;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 70px 300px;
}

.card {
  padding: 10px;
  background-color: white;
  margin: 10px;
  min-width: 650px;
  min-height: 430px;
  height: 100%;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(0.25,0.8,0.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.textCenter {
  text-align: center;
}


