.title {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
}

.error {
  font-size: 12px;
  color: red;
}

.gridItem {
  border-radius: 5px;
  font-size: 100%;
}

.firstName {
  grid-area: firstName;
}

.middleName {
  grid-area: middleName;
}

.lastName {
  grid-area: lastName;
}

.roleType {
  grid-area: roleType;
}

.identifierGroup {
  grid-area: identifierGroup;
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.postalCode {
  grid-area: postalCode;
}

.country {
  grid-area: country;
}

.contactGroup {
  grid-area: contactGroup;
}

.associateOrganizationGroup {
  grid-area: associateOrganizationGroup;
}

.buttonGroup {
  grid-area: buttonGroup;
  margin: 1vh 0;
  display: grid;
  grid-column-gap: 1vw;
  grid-template-columns: 1fr 1fr 2fr;
}

.associateOrganizationSection {
  grid-area: associateOrganizationSection;
}

.gridContainer {
  color: #444;
  width: auto;
  padding-left: 0.5vw;
  margin: 0 1vw;
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "firstName"
    "middleName"
    "lastName"
    "roleType"
    "identifierGroup"
    "address1"
    "address2"
    "city"
    "state"
    "postalCode"
    "country"
    "contactGroup"
    "associateOrganizationSection"
    "buttonGroup";
}

.addOrganizationsButton {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

/* Tablet landscape ----------- */
@media only screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "firstName lastName"
      "middleName ."
      "roleType ."
      "identifierGroup identifierGroup"
      "address1 ."
      "address2 ."
      "city state"
      "postalCode country"
      "contactGroup contactGroup"
      "associateOrganizationSection associateOrganizationSection"
      "buttonGroup .";
  }

  .identifierGroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contactGroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
  }

  .firstName {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  .middleName {
    grid-column: 5 / span 4;
    grid-row: 1;
  }

  .lastName {
    grid-column: 9 / span 4;
    grid-row: 1;
  }

  .roleType {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .identifierGroup {
    grid-column: 4 / span 4;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
  }

  .address1 {
    grid-column: 1 / span 4;
    grid-row: 3;
  }

  .address2 {
    grid-column: 5 / span 4;
    grid-row: 3;
  }

  .city {
    grid-column: 1 / span 4;
    grid-row: 4;
  }

  .state {
    grid-column: 5 / span 3;
    grid-row: 4;
  }

  .postalCode {
    grid-column: 8 / span 2;
    grid-row: 4;
  }

  .country {
    grid-column: 1 / span 4;
    grid-row: 5;
  }

  .contactGroup {
    grid-column: 1 / span 5;
    grid-row: 6;
    grid-template-columns: 2fr 3fr;
  }

  .associateOrganizationSection {
    grid-column: 1 / span 12;
    grid-row: 7;
    grid-template-columns: 1fr;
  }

  .buttonGroup {
    grid-column: 1 / span 2;
    grid-row: 8;
    grid-template-columns: 1fr 1fr;
  }
}

