.textCenter {
  text-align: center;
}

.gridContainer {
  display: grid;
  width: 100%;
}

.patientInfoSection {
  margin:10px 10px;
}

.patientLabel {
  font-weight: bold;
  display: inline-block;
}

.noCareTeam {
  margin:0 10px;
  font-weight: bold;
}

.filterSection {
  margin: 10px;
}

.filterGridContainer {
  display: grid;
  padding: 10px 20px;
  width: 100%;
  grid-template-columns: 60px repeat(3,120px) 180px 1fr;
  background-color: #F9F9F9 ;
}

.filterGridItem{
  text-align: center;
}

