.root {
  background-color: white;
}

.header {
  padding-left: 1vw;
  font-size: 1.5rem;
  font-weight: bold;
  color: #336666;
}

.title {
  padding-left: 0.5vw;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1vw;
  color: #444;
  background-color: #dce4ef;
}

.gridContainer {
  color: #444;
  width: auto;
  margin:0 1%;
  display: grid;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "identifierSystem"
    "identifierValue"
    "status"
    "line1"
    "line2"
    "city"
    "state"
    "zip"
    "telecomSystem"
    "telecomValue"
    "buttonGroup";
}

.gridItem {
  border-radius: 5px;
  font-size: 100%;
}

.name {
  grid-area: name;
}

.identifierSystem {
  grid-area: identifierSystem;
}

.identifierValue {
  grid-area: identifierValue;
}

.status {
  grid-area: status;
}

.line1 {
  grid-area: line1;
}

.line2 {
  grid-area: line2;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.zip {
  grid-area: zip;
}

.telecomSystem {
  grid-area: telecomSystem;
}

.telecomValue {
  grid-area: telecomValue;
}

.buttonGroup {
  grid-area: buttonGroup;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1vw;
  grid-auto-columns: minmax(100px,10vw);
}

/* Tablet landscape ----------- */
@media only screen and (min-width: 768px) {
  .gridContainer {
    padding: 0 2vw;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "name identifierSystem"
      "identifierValue status"
      "line1 line1"
      "line2 line2"
      "city city"
      "state zip"
      "telecomSystem telecomValue"
      "buttonGroup .";
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
  }

  .name {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .identifierSystem {
    grid-column: 5 / span 1;
    grid-row: 1;
  }

  .identifierValue {
    grid-column: 6 / span 2;
    grid-row: 1;
  }

  .status {
    grid-column: 9 / span 2;
    grid-row: 1;
  }

  .line1 {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .line2 {
    grid-column: 5 / span 3;
    grid-row: 2;
  }

  .city {
    grid-column: 1 / span 3;
    grid-row: 3;
  }

  .state {
    grid-column: 5 / span 1;
    grid-row: 3;
  }

  .zip {
    grid-column: 6 / span 2;
    grid-row: 3;
  }

  .telecomSystem {
    grid-column: 1 / span 1;
    grid-row: 4;
  }

  .telecomValue {
    grid-column: 2 / span 2;
    grid-row: 4;
  }

  .buttonGroup {
    grid-column: 1 / span 1;
    grid-row: 5;
  }

}
