.gridContainer {
  position: absolute;
  width: 100%;
  color: #444;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 2px;
}

.header{
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header {
  top: 0;
}

.content {
  position: relative;
  width: 100%;
  padding-top: 57px;
  padding-bottom: 5px;
}


