.gridContainer {
  color: #444;
  width: auto;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 5px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.content {
  grid-area: content;
}

.panel {
  grid-area: sidebar;
}

.gridItem {
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 3px;
  font-size: 150%;
}
