.gridItem {
  border-radius: 5px;
  font-size: 100%;
}

.firstName {
  grid-area: firstName;
}

.lastName {
  grid-area: lastName;
}

.birthDate {
  grid-area: birthDate;
}

.genderCode {
  grid-area: genderCode;
}

.identifierGroup {
  grid-area: identifierGroup;
}

.language {
  grid-area: language;
}

.race {
  grid-area: race;
}

.ethnicity {
  grid-area: ethnicity;
}

.birthSex {
  grid-area: birthSex;
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.postalCode {
  grid-area: postalCode;
}

.country {
  grid-area: country;
}

.contactGroup {
  grid-area: contactGroup;
}

.buttonGroup {
  grid-area: buttonGroup;
  margin: 1vh 0;
  display: grid;
  grid-column-gap: 1vw;
  grid-template-columns: 1fr 1fr 2fr;
}

.gridContainer {
  color: #444;
  width: auto;
  padding-left: 0.5vw;
  margin: 0 1vw;
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "firstName"
    "lastName"
    "birthDate"
    "genderCode"
    "birthSex"
    "race"
    "ethnicity"
    "language"
    "identifierGroup"
    "contactGroup"
    "address1"
    "address2"
    "city"
    "state"
    "postalCode"
    "country"
    "buttonGroup";
}
/* Tablet landscape ----------- */
@media only screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "firstName lastName"
      "birthDate genderCode"
      "birthSex race"
      "ethnicity language"
      "identifierGroup identifierGroup"
      "contactGroup contactGroup"
      "address1 ."
      "address2 ."
      "city state"
      "postalCode country"
      "buttonGroup .";
  }

  .identifierGroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contactGroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
  }

  .firstName {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  .lastName {
    grid-column: 5 / span 4;
    grid-row: 1;
  }

  .birthDate {
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  .genderCode {
    grid-column: 5 / span 2;
    grid-row: 2;
  }

  .birthSex {
    grid-column: 7 / span 2;
    grid-row: 2;
  }

  .race {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .ethnicity {
    grid-column: 3 / span 3;
    grid-row: 3;
  }

  .language {
    grid-column: 6 / span 2;
    grid-row: 3;
  }

  .identifierGroup {
    grid-column: 1 / span 5;
    grid-row: 4;
    grid-template-columns: 2fr 3fr;
  }

  .contactGroup {
    grid-column: 1 / span 5;
    grid-row: 5;
    grid-template-columns: 2fr 3fr;
  }

  .address1 {
    grid-column: 1 / span 4;
    grid-row: 6;
  }

  .address2 {
    grid-column: 5 / span 4;
    grid-row: 6;
  }

  .city {
    grid-column: 1 / span 4;
    grid-row: 7;
  }

  .state {
    grid-column: 5 / span 3;
    grid-row: 7;
  }

  .postalCode {
    grid-column: 8 / span 2;
    grid-row: 7;
  }

  .country {
    grid-column: 1 / span 4;
    grid-row: 8;
  }

  .buttonGroup {
    grid-column: 1 / span 2;
    grid-row: 9;
    grid-template-columns: 1fr 1fr;
  }
}
