.boldFont {
  font-weight: bold;
}

.card {
  padding: 10px;
  background-color: white;
  margin: 10px;
  min-width: 650px;
  min-height: 430px;
  height: 100%;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(0.25,0.8,0.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.textCenter {
  text-align: center;
}

.header {
  font-size: 1.3rem;
  font-weight: bold;
  color: #336666;
}

.gridContainer {
  display: grid;
  width: 100%;
}

.patientName {
  margin:10px 10px;
}

.noCareTeam {
  margin:0 10px;
  font-weight: bold;
}

.filterSection {
  margin: 10px;
}

.filterGridContainer {
  display: grid;
  padding: 10px 20px;
  width: 100%;
  grid-template-columns: 60px repeat(3,120px) 180px 1fr;
  background-color: #F9F9F9 ;
}

.filterGridItem{
  text-align: center;
}
