.title {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
}

.organizationName {
  padding-left: 1vw;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1rem;
  color: #444;
}
