.root {
  position: relative;
  background-color: white;
}
.validationMessage {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.title {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
}

.organizationInfoSection {
  margin:20px 10px;
  padding-left: 20px;
}

.organizationInfoLabel {
  font-weight: bold;
  display: inline-block;
}

.organizationName {
  padding-left: 10px;
}

.gridItem {
  border-radius: 5px;
  font-size: 100%;
}

.name {
  grid-area: name;
}

.programName {
  grid-area: programName;
}

.serviceGroup {
  grid-area: serviceGroup;
}

.contactGroup {
  grid-area: contactGroup;
}

.buttonGroup {
  grid-area: buttonGroup;
  margin: 1vh 0;
  display: grid;
  grid-column-gap: 1vw;
  grid-template-columns: 1fr 1fr 2fr;
}

.gridContainer {
  color: #444;
  width: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0 1vw;
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "programName"
    "serviceGroup"
    "contactGroup"
    "buttonGroup";
}

/* Tablet landscape ----------- */
@media only screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name programName"
      "serviceGroup serviceGroup"
      "contactGroup contactGroup"
      "buttonGroup  .";
  }

  .buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
  }

  .name {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .programName {
    grid-column: 4 / span 3;
    grid-row: 1;
  }

  .serviceGroup {
    grid-column: 1 / span 12;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 2vw;
  }

  .contactGroup {
    grid-column: 1 / span 6;
    grid-row: 3;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .buttonGroup {
    grid-column: 1 / span 2;
    grid-row: 4;
    grid-template-columns: 1fr 1fr;
  }

}
