.title {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
}

.organizationName {
  padding-left: 1vw;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1rem;
  color: #444;
}

.validationMessage {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.gridItem {
  border-radius: 5px;
  font-size: 100%;
}

.name {
  grid-area: name;
}

.status {
  grid-area: status;
}

.locationGroup {
  grid-area: locationGroup;
}

.identifierGroup {
  grid-area: identifierGroup;
}

.contacts {
  grid-area: contacts;
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.postalCode {
  grid-area: postalCode;
}

.addressUse {
  grid-area: addressUse;
}

.buttonGroup {
  grid-area: buttonGroup;
  margin: 1vh 0;
  display: grid;
  grid-column-gap: 1vw;
  grid-template-columns: 1fr 1fr 2fr;
}

.errorMessage {
  grid-area: errorMessage;
}

.gridContainer {
  color: #444;
  width: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0 1vw;
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  grid-template-columns: 1fr;
  grid-template-areas: "name" "status" "locationGroup" "identifierGroup" "contacts" "address1" "address2" "city" "state" "postalCode" "addressUse" "buttonGroup" "errorMessage";
}

/* Tablet landscape ----------- */
@media only screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name status" "locationGroup locationGroup" "identifierGroup identifierGroup" "identifierGroup identifierGroup" "contacts contacts" "address1 address2" "city state" "postalCode addressUse" "buttonGroup ." "errorMessage errorMessage";
  }

  .locationGroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .identifierGroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contacts {
    display: grid;
    grid-template-columns: 1fr;
  }

  .buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
  }

  .name {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  .status {
    grid-column: 6 / span 3;
    grid-row: 1;
  }

  .locationGroup {
    grid-column: 1 / span 6;
    grid-row: 2;
  }

  .identifierGroup {
    grid-column: 7 / span 6;
    grid-row: 2;
  }

  .contacts {
    grid-column: 1 / span 12;
    grid-row: 3;
  }

  .address1 {
    grid-column: 1 / span 4;
    grid-row: 4;
  }

  .address2 {
    grid-column: 5 / span 4;
    grid-row: 4;
  }

  .city {
    grid-column: 1 / span 4;
    grid-row: 5;
  }

  .state {
    grid-column: 5 / span 3;
    grid-row: 5;
  }

  .postalCode {
    grid-column: 8 / span 2;
    grid-row: 5;
  }

  .country {
    grid-column: 1 / span 4;
    grid-row: 5;
  }

  .addressUse {
    grid-column: 1 / span 4;
    grid-row: 6;
  }

  .buttonGroup {
    grid-column: 1 / span 2;
    grid-row: 7;
    grid-template-columns: 1fr 1fr;
  }

  .errorMessage {
    grid-column: 3 / span 2;
    grid-row: 7;
  }
}
