.title {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
}

.organizationName {
  padding-left: 1vw;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1rem;
  color: #444;
}

.validationMessage {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.gridItem {
  border-radius: 5px;
  font-size: 100%;
}

.name {
  grid-area: name;
}

.status {
  grid-area: status;
}

.locationGroup {
  grid-area: locationGroup;
}

.identifierGroup {
  grid-area: identifierGroup;
}

.contactGroup {
  grid-area: contactGroup;
}

.contactPurpose {
  grid-area: contactPurpose;
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.postalCode {
  grid-area: postalCode;
}

.addressUse {
  grid-area: addressUse;
}

.buttonGroup {
  grid-area: buttonGroup;
}

.errorMessage {
  grid-area: errorMessage;
}

.gridContainer {
  color: #444;
  width: auto;
  padding-left: 1vw;
  margin: 0 1vw;
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "status"
    "locationGroup"
    "identifierGroup"
    "contactGroup"
    "contactPurpose"
    "address1"
    "address2"
    "city"
    "state"
    "postalCode"
    "addressUse"
    "buttonGroup"
    "errorMessage";
}
