.gridContainer {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr 1fr;
  grid-column-gap: 10px;
}

.paper {
  height: 43px;
}

.searchField {
  margin: auto 16px;
}

.checkBox {
  padding-top: 10px;
  max-width: 95%;
}

.pagination {
  text-align: center;
}
