.card {
  padding: 10px;
  background-color: white;
  margin: 10px;
  min-width: 650px;
  min-height: 430px;
  height: 100%;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(0.25,0.8,0.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrapper {
  padding: 10px;
  background-color: white;
  margin: 10px;
  position: relative;
  min-width: 600px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  margin-top: 5px;
}

.gridItem {
  position: relative;
  height: auto;
}

.centerElement {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.pagination {
  text-align: center;
}
