.wrapper {
  padding: 10px;
  background-color: white;
  margin: 10px;
  position: relative;
  min-width: 600px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  margin-top: 5px;
}

.gridHeaderContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 5px;
}

.gridItem {
  position: relative;
  height: auto;
}

.centerElement {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.pagination {
  text-align: center;
}
