.root {
  top: -20px;
  position: relative;
}

.validationMessage {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding-left: 10px;
}
