.validationMessage {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 1fr;
  padding-left: 10px;
  max-width: 650px;
}

.gridItem {
  position: relative;
  height: auto;
  margin: 10px;
}

.buttonGridContainer {
  display: grid;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  grid-column-gap: 5px;
  grid-template-columns: 120px 1fr;
}

.gridHeaderContainer {
  display: grid;
  grid-template-columns: 1fr 150px;
  margin-top: 5px;
}

.gridItem {
  position: relative;
  height: auto;
}
