.title {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
}

.patientNameSection {
  padding-left: 0.5vw;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1rem;
  color: #444;
}
.patientName {
  padding-left: 0.5vw;
}

.gridItem {
  border-radius: 5px;
  font-size: 100%;
}

.careTeamName {
  grid-area: careTeamName;
}

.category {
  grid-area: category;
}

.status {
  grid-area: status;
}

.episodeOfCare {
  grid-area: episodeOfCare;
}

.startDate {
  grid-area: startDate;
}

.endDate {
  grid-area: endDate;
}

.addParticipant {
  grid-area: addParticipant;
  margin: 1vh 0;
  display: grid;
  grid-column-gap: 1vw;
  grid-template-columns: minmax(160px,1fr) 2fr;
}

.buttonGroup {
  grid-area: buttonGroup;
  margin: 1vh 0;
  display: grid;
  grid-column-gap: 1vw;
  grid-template-columns: 1fr 1fr 2fr;
}

.gridContainer {
  color: #444;
  width: auto;
  padding-left: 0.5vw;
  margin: 0 1vw;
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 0.5vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "careTeamName"
    "category"
    "status"
    "episodeOfCare"
    "startDate"
    "endDate"
    "addParticipant"
    "buttonGroup";
}

/* Tablet landscape ----------- */
@media only screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "careTeamName status"
      "category ."
      "episodeOfCare ."
      "startDate ."
      "endDate ."
      "addParticipant ."
      "buttonGroup .";
  }

  .addParticipant {
    grid-area: addParticipant;
    margin: 1vh 0;
    display: grid;
    grid-column-gap: 1vw;
    grid-template-columns: 1fr 1fr;
  }

  .buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
  }

  .careTeamName {
    grid-column: 1 / span 4;
    grid-row: 1;
  }

  .category {
    grid-column: 5 / span 3;
    grid-row: 1;
  }

  .status {
    grid-column: 8 / span 2;
    grid-row: 1;
  }

  .episodeOfCare {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .startDate {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .endDate {
    grid-column: 3 / span 2;
    grid-row: 3;
  }

  .addParticipant {
    grid-column: 1 / span 3;
    grid-row: 4;
    grid-template-columns: minmax(160px,1fr) 1fr;
  }

  .buttonGroup {
    grid-column: 1 / span 2;
    grid-row: 5;
    grid-template-columns: 1fr 1fr;
  }
}
