.title {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
}

.patientName {
  padding-left: 1vw;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1rem;
  color: #444;
}

.gridContainer {
  color: #444;
  width: auto;
  margin-right: 10vw;
  margin-bottom: 1vh;
  display: grid;
  padding: 0 2vw;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-columns: 1fr;
  grid-template-areas: "careTeamName" "category" "status" "episodeOfCare" "startDate" "endDate" "addParticipant" "buttonGroup";
}

.disabledLink {
  width: 100%;
}

/* Tablet landscape ----------- */
@media only screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "careTeamName status" "category ." "episodeOfCare ." "startDate ." "endDate ." "addParticipant" "buttonGroup .";
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "careTeamName category status" "episodeOfCare . ." "startDate endDate ." "addParticipant . ." "buttonGroup . .";
  }
}

.gridItem {
  border-radius: 5px;
  font-size: 100%;
}

.careTeamName {
  grid-area: careTeamName;
  display: grid;
}

.category {
  grid-area: category;
  display: grid;
}

.status {
  grid-area: status;
  display: grid;
}

.episodeOfCare {
  grid-area: episodeOfCare;
  display: grid;
}

.startDate {
  grid-area: startDate;
  display: grid;
}

.endDate {
  grid-area: endDate;
  display: grid;
}

.addParticipant {
  grid-area: addParticipant;
  display: grid;
}

.buttonGroup {
  grid-area: buttonGroup;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1vw;
  margin-bottom: 1vh;
  grid-auto-columns: minmax(100px, 120px);
}
