.body {
  margin: 5px;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.panel {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.container {
  color: #444;
  width: auto;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 5px;
  grid-template-areas:
    "header"
    "content"
    "sidebar";
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .container {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "header header"
      "sidebar content";
  }
}

.box {
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 3px;
  font-size: 150%;
}
