.gridContainer {
  color: #444;
  width: auto;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 5px;
  grid-template-areas:
    "sidebar"
    "content";
}

.content {
  grid-area: content;
}

.panel {
  grid-area: sidebar;
}

.gridItem {
  background-color: #fff;
  color: rgb(51, 51, 51);
  border-radius: 5px;
  padding: 3px;
  font-size: 150%;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .gridContainer {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "sidebar content";
  }
}
