.root {
  position: relative;
  background-color: white;
}
.validationMessage {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.title {
  padding-left: 0.5vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
}

.organizationInfoSection {
  margin:20px 10px;
  padding-left: 20px;
}

.organizationInfoLabel {
  font-weight: bold;
  display: inline-block;
}

.organizationName {
  padding-left: 10px;
}

.gridItem {
  border-radius: 5px;
  font-size: 100%;
  grid-column-gap: 2vw;
}

.version {
  grid-area: version;
}

.systemName {
  grid-area: systemName;
}

.displayName {
  grid-area: displayName;
}


.description {
  grid-area: description;
}

.lastPublishDateLabel {
  font-weight: bold;
  display: inline-block;
}

.lastPublishDate {
  padding-left: 10px;
}


.tiemGroup {
  grid-area: timeGroup;
}

.serviceGroup {
  grid-area: serviceGroup;
}

.participantGroup {
  grid-area: participantGroup;
}

.buttonGroup {
  grid-area: buttonGroup;
  margin: 1vh 0;
  display: grid;
  grid-column-gap: 1vw;
  grid-template-columns: 1fr 1fr 2fr;
}

.gridContainer {
  color: #444;
  width: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0 1vw;
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "version"
    "systemName"
    "displayName"
    "description"
    "lastPublishDateLabel"
    "lastPublishDate"
    "timeGroup"
    "lastPublishDateLabel"
    "lastPublishDate"
    "serviceGroup"
    "participantGroup"
    "buttonGroup";
}

/* Tablet landscape ----------- */
@media only screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "version version"
      "systemName systemName"
      "displayName displayName"
      "description description"
      "lastPublishDateLabel lastPublishDateLabel"
      "lastPublishDate lastPublishDate"
      "timeGroup timeGroup"
      "serviceGroup serviceGroup"
      "participantGroup participantGroup"
      "buttonGroup  .";
  }

  .buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2vw;
  }

  .version {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .systemName {
    grid-column: 2 / span 3;
    grid-row: 1;
  }

  .displayName {
    grid-column: 3 / span 3;
    grid-row: 1;
  }

  .description {
    grid-column: 4 / span 3;
    grid-row: 1;
  }


  .lastPublishDateLabel {
    grid-column: 5 / span 3;
    grid-row: 1;
  }


  .lastPublishDate {
    grid-column: 6 / span 3;
    grid-row: 1;
  }

  .timeGroup {
    grid-column: 1 / span 12;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 2vw;
  }

  .serviceGroup {
    grid-column: 1 / span 12;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2vw;
  }

  .participantGroup {
    grid-column: 1 / span 6;
    grid-row: 4;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 2vw;
  }

  .buttonGroup {
    grid-column: 1 / span 2;
    grid-row: 5;
    grid-template-columns: 1fr 1fr;
  }

}
